.content{
position:absolute;
display:grid;
height:58%;
left:0;
padding:20px;
right:0;
grid-template-columns: repeat(4, 25%);
grid-template-rows: repeat(4, 70%);

}
.restaurantpage{
    background-color:rgba(255, 255, 255, 0.057);
    padding:15px;
    position:relative;
    top:8vw;
    margin: 10px;
    border:5px solid rgb(255, 255, 255);
    border-radius:20px;

}
li{
    list-style: none;
    position: relative;
    font-size:18px;
    color:white;
}
.buttons{
    position:absolute;
    bottom:0;
    right:0;
    padding-bottom:15px;

    left:0;
}
#btns {
    background-color: transparent;
    border: 1px solid rgb(164, 159, 159);
    font-size: 13px;
    color: #ffffff;
    padding: 10px 4px;
    margin: 2px 2px;
    width:48%;
    cursor: pointer;
    border-radius:10px;
  }
#btns:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 0.5s;
}
.title2{
    position:absolute;
    left:0;
    padding:10px;
    right:0;  
}